@import url('https://fonts.googleapis.com/css?family=Exo+2:900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,800,900,900i');

* {
  font-family:'Raleway';
}
.brand-logo {
  width:50px;

}


h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 3.5vw;
	color:White;
	padding: 5rem 0;
	text-shadow: 0px 4px 48px rgba(255,255,255,0.2);
}


#container-square{
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
	background: {
		image:  url(https://www.etftrends.com/wp-content/uploads/2018/03/How-Blockchain-Technology-Can-Improve-Real-Estate.jpg);
		blend-mode: multiply;
    size: cover;
  }
  height:500px;
  overflow: hidden;
  margin-left:10px;
  margin-right:10px;
  opacity:0.9;
}

.blocks-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 15rem;
    transform: translateX(-50%);
	opacity: 0.75;
}

.blocks {
	width: 100%;
	height: auto;
	overflow: visible;
	
	rect {
		
    fill: none;
    fill:rgb(114, 109, 109);
    stroke:pink;
    stroke-width:5;
    fill-opacity:0.5;
    stroke-opacity:0;
	}
	
	> g > g:nth-of-type(3n) circle {
		stroke: #87f5fb;
	}
	
	> g > g:nth-of-type(4n) circle {
		stroke: #8be8cb;
	}
	
}

.blocks-large {
	overflow: visible;

	> g {
		transform: translateY(2048px);
		opacity: 0;
		will-change: transform, opacity;
	}

	g:nth-of-type(1) {
		animation: up 10.5s infinite;
		
		g {
			transform: translateX(350px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(2) {
		animation: up 8s 250ms infinite;
		
		g {
			transform: translateX(450px);
		}

		rect{
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(3) {
		animation: up 14s 750ms infinite;
		
		g {
			transform: translateX(700px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(4) {
		animation: up 5.5s 1.5s infinite;
		
		g {
			transform: translateX(500px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(5) {
		animation: up 6.5s 4s infinite;
		
		g {
			transform: translateX(675px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}

}

.blocks-small {
	overflow: visible;

	> g {
		transform: translateY(2048px);
		opacity: 0;
		will-change: transform, opacity;
	}

	g rect {
		transform: scale(0);
	}

	g:nth-of-type(1) {
		animation: up 20s infinite;
		
		g {
			transform: translateX(350px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}

	g:nth-of-type(2) {
		animation: up 10s infinite;
		
		g {
			transform: translateX(750px);
		}

		rect {
			animation: wobble 3s infinite ease-in-out;
		}

	}

	g:nth-of-type(3) {
		animation: up 5.25s 250ms infinite;
		
		g {
			transform: translateX(350px);
		}

	  rect {
			animation: wobble 3s 250ms infinite ease-in-out;
		}

	}

	g:nth-of-type(4) {
		animation: up 5.75s 325ms infinite;
		
		g {
			transform: translateX(180px);
		}

		rect {
			animation: wobble 3s 325ms infinite ease-in-out;
		}

	}

	g:nth-of-type(5) {
		animation: up 6s 125ms infinite;
		
		g {
			transform: translateX(350px);
		}

		circle {
			animation: wobble 3s 250ms infinite ease-in-out;
		}

	}

	g:nth-of-type(6) {
		animation: up 5.13s 250ms infinite;
		
		g {
			transform: translateX(650px);
		}

		rect {
			animation: wobble 3s 125ms infinite ease-in-out;
		}

	}

	g:nth-of-type(7) {
		animation: up 6.25s 350ms infinite;
		
		g {
			transform: translateX(480px);
		}

		circle {
			animation: wobble 3s 325ms infinite ease-in-out;
		}

	}
	

	
}

@keyframes wobble {
	
	33% {
		transform: translateX(-50px);
	}
	
	66% {
		transform: translateX(50px);
	}
	
}

@keyframes up {

	0% {
		opacity: 0;
	}
	
	10%, 90% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
		transform: translateY(-1024px);
	}
	
}

.main-header {
  height:75px;
  padding-bottom:5px;
}



.team-container {
	background-color:gray;
}




